{
  "extends": ["airbnb-typescript/base"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": 0
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts", "**/*.test.ts", "**/__mocks__/*.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
