{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "prettier/prettier": [
      "error"
    ],
    "@typescript-eslint/indent": 0
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts",
        "**/*.test.ts",
        "**/__mocks__/*.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  }
}
