{
  "extends": ["airbnb-typescript/base"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts",
        "**/*.test.ts",
        "**/__mocks__/*.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}